
    <div class="wrapper">
        <div class="znujka">
            <div class="title_head">Весняний модний розпродаж до -40%</div>
        </div>
        <div class="header">
            <ul class="header-top">
                <!-- <li><a class="icon_rozetka"></a></li> -->
                <li><a class="logo_rozetka" href="#"></a></li>
                <li><a class="catalog_rozetka" href="#">Каталог</a></li>
                <li><input placeholder="Я ищу" class="input_rozetka" href="#"></input></li>
                <li><a class="find_rozetka"href="#">Найти</a></li>
                <li><a class="language_rozetka" href="#">UA</a></li>
                <li><a class="cabinet_rozetka" href="#"></a></li>
                </ul>
        </div>
    </div>
